In [4]:
# types of list
numInt = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] # list of integers
Flower = ["Rose", "Lily", "Daisy", "Iris", "Lavender", "Sunflower", "Violet", "Waxflower"] # list of strings
numFloat = [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0] # list of float
TFList = [True, False, True, False] # list of true-false
emptyList = []

In [6]:
print(numInt)
print(Flower)
print(numFloat)
print(TFList)
print(emptyList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
['Rose', 'Lily', 'Daisy', 'Iris', 'Lavender', 'Sunflower', 'Violet', 'Waxflower']
[1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]
[True, False, True, False]
[]

In [11]:
# lists in list
Lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Lists[0]

[1, 2, 3]

In [15]:
print("Lists[0][1] : ", end=" ")
Lists[0][1]

Lists[0][1] :

2

In [16]:
# List of mixed Datatypes
# List of Person's Info
mixList = [1, "PENAN", 20, "B.Tech", "CSE", True, False, [1, 2, 3], ["Rose", "Lily", "Daisy", "Iris"]]
print(mixList)

[1, 'PENAN', 20, 'B.Tech', 'CSE', True, False, [1, 2, 3], ['Rose', 'Lily', 'Daisy', 'Iris']]

In [18]:
print(mixList[8][2])

Daisy

In [19]:
# creating list repetitive element 
# using * operator

num = ["a" * 10]

In [20]:
num

['aaaaaaaaaa']

In [21]:
num = 'a' * 10

In [22]:
num

'aaaaaaaaaa'

In [23]:
# creating list using range

In [24]:
number = range(-5,5)

In [25]:
number

range(-5, 5)

In [27]:
for i in number:
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4