In [1]:
# creating tuple using () brackets

In [3]:
names = ("PENAN", "CHETAN", "RAHUL")
print(names)

('PENAN', 'CHETAN', 'RAHUL')

In [4]:
# types

In [16]:
# types of list
numInt = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14) # tuple of integers
Flower = ("Rose", "Lily", "Daisy", "Iris", "Lavender", "Sunflower", "Violet", "Waxflower" ) # tuple of strings
numFloat = (1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0 ) # tuple of float
TFList = ( True, False, True, False ) # tuple of true-false
emptyList = () # empty tuple
Dtuple = ((1,2,3), (4,5,6), (7,8,9)) # 2D tuple ## Tuple in tuple
student = ("PENAN", 20, "B.Tech.") # mix datatype
students_info = (("PENAN", 20, "CRICKET"), ("CHETAN", 21, "FOOTBALL"), ("RAHUL", 22, "PROGRAMMING")) # Tuple in tuple ## mix datatype

In [18]:
print(numInt)
print(Flower)
print(numFloat)
print(TFList)
print(emptyList)
print(Dtuple)
print(student)
print(students_info)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
('Rose', 'Lily', 'Daisy', 'Iris', 'Lavender', 'Sunflower', 'Violet', 'Waxflower')
(1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0)
(True, False, True, False)
()
((1, 2, 3), (4, 5, 6), (7, 8, 9))
(('PENAN', 20, 'CRICKET'), ('CHETAN', 21, 'FOOTBALL'), ('RAHUL', 22, 'PROGRAMMING'))

NameError: name 'students_info' is not defined